@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

body {
    background: repeating-linear-gradient(45deg, #ff6600, #ccff00 10%, #ff00cc 20%, #00ffff 30%, #9900ff 40%);
    color: #00ffff;
    font-family: 'Comic Sans', cursive, sans-serif;
    text-align: center;
}

.gallery-body {
    background-image: url('../images/moo_deng_background.png'); 
    background-repeat: repeat;  
    color: #00ffff;
    font-family: 'Creepster', cursive, sans-serif;
    font-size: 350px;
    text-align: center;
}


.weird-text {
    font-size: 50px;
    text-shadow: 5px 5px 10px rgb(255, 0, 0);
}

.weirder-text {
    font-size: 45px;
    color:rgb(51, 255, 0); 
    text-shadow: 5px 5px 10px rgb(255, 0, 0);
}

.virus-text {
    font-size: 100px;
    color:rgb(255, 0, 0); 
    text-decoration: underline;
}

a {
    color: #0000ff;
    font-weight: bold;
}

b {
    color: #ffffff;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-style: wavy;
    font-size: 35px;
}

ul {
    padding: 0;
}

li {
    display: inline;
    margin: 10px;
    font-size: 20px;
}

.big-image {
    width: 70%;   
    height: auto;  
    margin-bottom: 20px;  
  }
  

#ugly {
    padding: 20px;
    text-align: center;
}

.highlight {
    color: #ff00ff;   
    font-family: 'Courier New', monospace; 
    font-size: 40px;   
    letter-spacing: 10px;  
    background-color: #00ff00; 
    padding: 5px;   
}

.long-scroll {
    height: 10000px; 
    padding: 20px;
}
